{% extends "parent.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}

{% for video in most_recent_videos %}
<div class="row tm-catalog-item-list">
  <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
      <div class="position-relative tm-thumbnail-container">
          <img src="{{ video.id }}#t=20" alt="Image" class="img-fluid tm-catalog-item-img">
          
          <a href="/video/{{ video.id }}" class="position-absolute tm-img-overlay">
              <i class="fas fa-play tm-overlay-icon"></i>
          </a>
      </div>    
      <div class="p-4 tm-bg-gray tm-catalog-item-description">
          <h3 class="tm-text-primary mb-3 tm-catalog-item-title">{{ video.title }}</h3>
          <p class="tm-catalog-item-text">{{ video.description }}</p>
          <p style="font-size: 15px; color:gray;">Uploaded by {{ video.user }} on {{ video.datetime }} </p>
      </div>
  </div>
</div>

{% endfor %}
{% endblock %}
